@charset "iso-8859-1";

A:link    { background: transparent; color: #0000FF;
            text-decoration: underline; }
A:visited { background: transparent; color: #800080;
            text-decoration: underline; }
A:hover   { background: transparent; color: #FF0000;
            text-decoration: underline; }

BODY { COLOR : #000000;
       FONT-FAMILY : MS Sans Serif;
       BACKGROUND : url(toadback.jpg)}

H2  {page-break-before:always}

TABLE {
    text-transform: lowercase;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

TABLE.nav {border-style: none; border-width: 0;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

TH {COLOR: #000000;
    BACKGROUND: #00FFFF;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

TD {COLOR: #000000;
    TEXT-ALIGN: left;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

TD.rt {COLOR: #000000;
    TEXT-ALIGN: right;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

TD.rtr {COLOR: #FF0000;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

TD.rtb {COLOR: #000080;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

TD.red {COLOR: #FF0000;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

TD.blue {COLOR: #000080;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: left;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

CENTER.h1 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    FONT-FAMILY: MS Sans Serif}

CENTER.h2 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    FONT-FAMILY: MS Sans Serif}

CENTER.h3 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: MS Sans Serif}

CENTER.h4 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: MS Sans Serif}

CENTER.f1 {COLOR: #000000;)
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

CENTER.f2 {COLOR: #000000;)
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

CENTER.f3 {COLOR: #000000;)
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

CENTER.f4 {COLOR: #000000;)
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: MS Sans Serif}

